<!-- <h1>hello word</h1>
<h3>{{ count }}</h3>
<button (click)="increment()">自增</button> -->
<!-- <app-learn01></app-learn01> -->

<!-- <app-learn-form></app-learn-form> -->

<app-hero-form></app-hero-form>
<!-- 
    数据绑定 {{}}
    双向数据绑定([ngModel])
    条件渲染
    列表渲染
    指令
    .........................
    angular应用程序的主要构造块: 模块--组件--模板--元数据--数据绑定--指令--服务--依赖注入
 -->

 <!--
     Typescript总结
     变量声明 var  let  const
     基本数据类型  boolean  number  string  number[]/Array<number>  [number,string]  object  any
        函数空值返回 void    null和undefined
    
    接口   interface

    类  构造函数  继承  属性修饰符  属性的get和set

    for of 循环

    tslang.cn   手册文档    
  -->